<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<form action="">
		<a href="/home"><label>Staff Details</label></a><br><br>
		<a href="/payroll"><label>Pay Roll</label></a><br><br>
		<a href="/leave"><label>Leave</label></a><br><br>
		<a href="/rating"><label>Ratings</label></a><br><br>
		<a href="/dstaff"><label>Disabled Staff</label></a><br><br>
		<a href="/notice"><label>Notice Board</label></a><br><br>
		<a href="/mail"><label>Send mail</label></a><br><br>
		<a href="/report"><label>Student Report</label></a>
	</form>	
</body>
</html>