<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/login" >
	NAME:<input type="text" name="name"><br>
	Email Id:<input type="text" name="email"><br>
	D.O.B:<input type="date" name="dob"><br>
	Father's Name:<input type="text" name="fname"><br>
	Mother's Name:<input type="text" name="mname"><br>
	Mobile Number:<input type="number" name="mnum"><br>
	Work Experience:<input type="number" name="exp"><br>
	<input type="submit" value="submit"><br>
	<input type="reset" value="Reset"><br>
	</form>
</body>
</html>